{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ProyectoU2</title>
    <link href="{% static 'movies/output.css' %}" rel="stylesheet">

</head>
<body>
    <h1 class="font-black">MovieMentor</h1>
    <h3 class="font-normal">Lista de películas</h3>

    {% if movie_list %}
        {% for movie in movie_list %}
            <div class="movie-container">
                <a href="/movies/{{ movie.id }}/">
                    <img src="{% static 'movies/assets/img/'|add:movie.poster_path %}" alt="{{ movie.title }}" class="movie-poster">
                </a>
                <div class="movie-title">{{ movie.title }}</div>
            </div>
        {% endfor %}
    {% else %}
        <p>No movies are available.</p>
    {% endif %}
</body>
</html>

