{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ movie.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'movies/assets/css/output.css' %}" rel="stylesheet">
</head>
<body class="flex">
    <div class="mx-auto text-center">
        <h1 class="text-4xl font-bold">{{ movie.title }} ({{ movie.release_date|date:"Y" }})</h1>
        <p>{{ movie.overview }}</p>
    </div>
    <div class="w-1/4">
        <img src="{% static 'movies/assets/img'|add:movie.poster_path %}" alt="">
    </div>
</body>
</html>
